<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_aF1ZR6ATGDUJN0lHrE8rx6puG6LTzNc</string>
	<key>GCM_SENDER_ID</key>
	<string>426680439158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlantMonitoringApp</string>
	<key>PROJECT_ID</key>
	<string>plantmonitor-52b21</string>
	<key>STORAGE_BUCKET</key>
	<string>plantmonitor-52b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426680439158:ios:c54baf8add7e13075b6a57</string>
	<key>DATABASE_URL</key>
	<string>https://plantmonitor-52b21-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>